* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 500vh; /* controls scroll length */

    background: black;

}

.scroll-container {

    position: sticky;

    top: 0;

    height: 100vh;

}

canvas {

    width: 100%;
    height: 100%;
    object-fit: contain;

}
