body
{
  margin: 0;
  background: black;
  height: 500vh;
}

.scroll-container
{
  position: relative;
}

canvas
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.spacer
{
  height: 500vh;
}
